:root {
  --font-color-1: #A3A3CA;
  --font-color-2: #45456A;
  --bg-color-1: #1A1931;
}

*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #2D2D46;
}

.container {
  border: 1px solid black;
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
  border-radius: 3px;
  width: 70vw;
  height: 40vh;
  margin: 10rem auto;
}

.header {
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid black;
  height: 30%;
}

.features-wrapper {
  display: flex;
  height: 70%;
}

.features-wrapper h3 {
  font-weight: 400;
  font-size: 14px;
}

.email-feature,
.analytics-feature {
  flex: 1 1 30%;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
}

.price {
  font-size: 40px;
  padding-top: 20px;
}

small {
  color: var(--font-color-2);
}

.email-feature-list {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

ul li {
  text-align: left;
  padding-bottom: 5px;
}

.analytics-feature-desc {
  padding-top: 20px;
}

.add-cart-btn.left {
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
  border: 1px solid #4D2842;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.right-features-wrapper {
  flex: 1.3 1.3 40%;
  display: flex;
  flex-direction: column;
}

.right-feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.right-feature h3 {
  width: 40%;
  padding-left: 40px;
}

.right-feature p {
  font-size: 22px;
  display: inline;
}

.right-feature-price {
  width: 15%;
  text-align: right;
}

.right-feature span {
  color: var(--font-color-2);
}

.email-analysis-feature,
.review-tracker-feature, 
.similarity-matching-feature {
  border-bottom: 1px solid black;
}

.saving-pack {
  position: relative;
  overflow: hidden;
}

.best-value {
  position: absolute;
  top: 13px;
  left: -17px;
  background: linear-gradient(90deg, #FE8F7E, #FF547F);
  color: white;
  font-size: 10px;
  padding: 3px 17px;
  transform: rotate(-45deg);  
}

.add-cart-btn.right {
  background-color: var(--bg-color-1);
  color: var(--font-color-1);
  border: 1px solid #4D2842;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 20px;
  cursor: pointer;
}
